= content_for :title, 'Artists'

#container.container_12
  - if flash[:notice]
    = flash[:notice]
    %p
  -
  .grid_12
    .grid_6.alpha
      .round_box.topmost
        %span.current_category= 'Artists'
        %br
        = render :partial => 'az'
      .clear
      - @artists.each do |artist|
        .round_box= render :partial => 'artist', :locals => {:artist => artist}
    .grid_2
      .round_box.topmost= render :partial => 'shared/right_nav'
