= content_for :title, 'Comments'

#container.container_12
  - if flash[:notice]
    = flash[:notice]
    %p
  -
  .grid_12
    .grid_6.alpha
      .round_box.topmost
        %span.current_category= 'Comments'
      .clear
      #comments
        - @comments.each do |comment|
          = render :partial => "shared/comment", :object => comment
    .grid_2
      .round_box.topmost= render :partial => 'shared/right_nav'