= content_for :title, "#{User.count} users"

#container.container_12
  - if flash[:notice]
    = flash[:notice]
    %p
  -
  .grid_12
    .grid_6.alpha
      .round_box.topmost
        %span.current_category= 'Users'
      .clear
      - @users.each do |user|
        .round_box= render :partial => 'user', :locals => {:user => user}
    .grid_2
      .round_box.topmost= render :partial => 'shared/right_nav'
