= content_for :title, @user.name || @user.email
.container_12
  .grid_12
    .grid_4.alpha
      .round_box.topmost
        %span.current_category= 'Recent Activity'
      #ratings= render :partial => "ratings", :locals => {:user => @user}
    .grid_6
      .round_box.topmost= render :partial => "user", :locals => {:user => @user}
      #comments= render :partial => "comments", :locals => {:user => @user}
    .grid_2.omega
      .round_box.topmost= render :partial => 'shared/right_nav'
  .clear &nbsp;
  #errors &nbsp;