.round_box{:id => "comment_#{comment.id}"}
  .album_thumbnail= thumbnail_tag(comment.album)
  .album_details
    .comment_body= '"' + comment.body.to_s + '"'
    .comment_attribution
      = display_user_name(comment.user) + " on " + comment.created_at.strftime("%m/%d/%Y")
      - if comment.user == current_user
        = link_to("(delete)", comment_path(comment), :method => :delete, :remote => true, :confirm => "Really?")
  .clear