#rating
  = form_tag url_for(:controller => :albums, :action => "index"), :remote => false, :method => :get, :class => "rating" do |f|
    - [20, 40, 60, 80, 100].each do |rating|
      = label_tag("rating_#{rating}", content_tag(:span, rating), {:class=>"rating", :id=>rating})
      = radio_button_tag("rating", rating, params['rating'].to_s == rating.to_s, :class => 'rating_button submittable')
    = hidden_field_tag("genre", params['genre'])
    = submit_tag 'submit', {:id => "rating_submit"}
%br
#genre
  = form_tag url_for(:controller => :albums, :action => "index"), :remote => false, :method => :get, :class => 'genre_form' do |f|
    = hidden_field_tag("rating", params['rating'])
    = select_tag("genre", options_from_collection_for_select(@genres, "id", "name", params['genre']), :class => "genre submittable")