= content_for :title, 'Albums'

#container.container_12
  - if flash[:notice]
    = flash[:notice]
    %p
  -
  .grid_12
    .grid_6.alpha
      .round_box.topmost
        %span.current_category= 'Albums'
        = render :partial => 'album_filter'
        %p
        = render :partial => 'az'
      .clear
      - @albums.each do |album|
        .round_box= render :partial => 'album', :locals => {:album => album}
      - if @limit
        .round_box
          - if @skip > 0
            = link_to("previous #{@limit}", albums_path(:skip => (@skip - @limit))) + ", "
          = link_to "next #{@limit}", albums_path(:skip => @skip + @limit)
    .grid_2
      .round_box.topmost= render :partial => 'shared/right_nav'
