- content_for :head do
  :javascript
    $(function () {
      var init_data = {
        albums: #{ render(template: "albums/index.json.rabl") },
        artists: #{ render(template: "artists/index.json.rabl") },
        comments: #{ render(template: "comments/index.json.rabl") },
        ratings: #{ render(template: "ratings/index.json.rabl") },
        users: #{ render(template: "users/index.json.rabl") },
        user: #{ render(template: "users/show.json.rabl") }
      }
      app.init(init_data);
    });

.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{'data-toggle'=>'collapse', 'data-target'=>'.nav-collapse'}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "#"} ToasTunes
      .nav-collapse
        %ul.nav
          %li
            %a{:href => "#artists"} Artists
          %li#albums-menu.dropdown
            %a.dropdown-toggle{'data-toggle' => "dropdown", :href => "#albums-menu"}
              Albums
              %b.caret
            %ul.dropdown-menu
              %li
                %a{:href=>'#albums'} Newest
          %li
            %a{:href => "#genres"} Genres
          %li
            %a{:href => "#comments"} Comments
          %li
            %a{:href => "#ratings"} Ratings
          %li
            %a{:href => "#users"} Users
.container.max-height.no-overflow
  .row.max-height
    .span3.scrollable
      #list List
    .span6.scrollable
      #detail Detail
    .span3.scrollable
      #playlist Playlist

= render partial: 'albums/album_summary_template'
= render partial: 'albums/controls_template'
= render partial: 'albums/album_detail_template'
= render partial: 'comments/album_comments_template'
= render partial: 'comments/comment_form_template'
= render partial: 'ratings/album_ratings_template'
= render partial: 'ratings/rating_form_template'
= render partial: 'artists/artist_summary_template'
= render partial: 'artists/artist_detail_template'
