= content_for :title, @album.title
.container_12
  .grid_12
    .grid_4.alpha
      .round_box.topmost= render :partial => "title_box", :locals => {:album => @album, :genres => @genres}
      .round_box= render :partial => "album_box", :locals => {:album => @album}
      #ratings= render :partial => "ratings", :locals => {:album => @album}
    .grid_6
      #cover.round_box.topmost.album_art= render :partial => "album_art", :locals => {:album => @album, :covers => @covers, :error => @error}
      #comments= render :partial => "comments", :locals => {:album => @album}
      .round_box= render :partial => "comment_form", :locals => {:album => @album}
    .grid_2.omega
      .round_box.topmost= render :partial => 'shared/right_nav'
  .clear &nbsp;
  #errors &nbsp;